html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	margin-top: 60px;
	background-color: #000;
	color: #dacfc5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	text-align: center;
}

section {
	margin-bottom: 40px;
}

button {
	margin: 4px 6px 6px 4px;
	padding: 3px;
}

#stats {
	background-color: #fff2;
	max-width: 22.5rem;
	padding: 2px;
}

#inventory .resource {
	/* display: flex; */
	align-items: center;
	font-size: 1.2rem;
}

#inventory .resource strong {
	font-size: 1.4rem;
}
