html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	margin-top: 60px;
	color: #2c3e50;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#stats {
	margin-bottom: 40px;
}

button {
	margin: 4px;
	padding: 4px;
}
